.content{
    grid-area: c;
    background-color: cornflowerblue;
  }

.item img{
    width: 50px;
    height: 50px;
    border-radius: 45px;
}

.item{
  margin-top: 10px;
}

.message{
  right: 20px;
  display: inline;
}
